<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TodoApp - Create A Todo With Django</title>
    {% load static %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
 
    <div class="jumbotron" style="background-color:#b1f6cb;">

        <h1 style="color:#0f62f7;" class="display-4">Hello, Welcome to my TodoApp!</h1>
        <hr style="background-color:#000000;width:50%;" class="my-4">

        <p style="text-align:center;font-weight:500;" class="lead">Now onwards no wories if you forget your meetings/class.</p>
        <p style="text-align:center;font-weight:500;">Book a reminder for your meetings and get notification.</p>
        <!--style="text-align:center;font-weight:500;"></p>-->
        <button id="myBtn" style="align-content:center;position:relative;right:-200px;" class="btn btn-outline-primary btn-lg">Add Reminder</button>
    </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <div django-app="TaskManager" class="modal-content">
                        <a class="close">
                            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        </a>
                        <div class="container">
                            <div class="content">
                                <h1 class="heading-hero" style="color:black;">TodoApp</h1>
                                <p style="color:black;" class="tagline">a Django todo app</p>
                                <form class="form" action="" method="post">
                                    {% csrf_token %} <!-- csrf token for basic security -->
                                    <div class="inputContainer">
                                        <input type="text" id="description" class="taskName" placeholder="What do you need to do?" name="description" required>
                                        <label for="description">Description</label>
                                    </div>
                                    <div class="inputContainer half last">
                                        <i class="fa fa-caret-down selectArrow"></i>
                                        <select id="category" class="taskCategory" name="category_select">
                                            <option class="disabled" value="">Choose a category</option>
                                            {% for category in categories %}
                                            <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="category">Category</label>
                                    </div>
                                    <div class="inputContainer half last right">
                                        <input type="date" id="dueDate" class="taskDate" name="date">
                                        <label for="dueDate">Due Date</label>
                                    </div>
                                    <div class="row">
                                        <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
                                        <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
                                    </div>
                                    <ul class="taskList">
                                        {% for todo in todos %} <!-- django template lang - for loop -->
                                        <li class="taskItem">
                                            <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                                            <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                                            <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                                            <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                                        </li>
                                        {% endfor %}
                                    </ul><!-- taskList -->
                                </form>
                            </div><!-- content -->
                        </div><!-- container -->
                    </div>
                </div><!--modal-->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script>
                        // Get the modal
                        var modal = document.getElementById("myModal");

                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");

                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];

                        // When the user clicks the button, open the modal 
                        btn.onclick = function () {
                            modal.style.display = "block";
                        }

                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function () {
                            modal.style.display = "none";
                        }

                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>
</body>
</html>