<div class="jumbotron" style="background-color:#b1f6cb;">
  <nav class=" navbar navbar-light bg-light">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">LogIn</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sign-up' %}">SignUp</a>
        </li>
      </ul>
    </div>
  </nav>

    <h1 style="color:#0f62f7;" class="display-4">You are now logged out {{ user }}</h1>
    <!-- <hr style="background-color:#000000;width:50%;" class="my-4"> -->

</div>



<h1>  </h1>

<br>
